
PSEC5_Ctrl_Board/cb_Components/ADM6_60_01_5_L_4_2_A_TR/KiCADv6/footprints.pretty/CONN240_L-4-2-A-TR_SAI.kicad_mod
PSEC5_Ctrl_Board/cb_Components/ADM6_60_01_5_L_4_2_A_TR/KiCADv6/2024-10-17_19-16-48.kicad_sym
PSEC5_Ctrl_Board/cb_Components/ADM6_60_01_5_L_4_2_A_TR (1)/SAMTEC_ADM6-60-01.5-L-4-2-A-TR.kicad_mod
PSEC5_Ctrl_Board/cb_Components/ADM6_60_01_5_L_4_2_A_TR (1)/License.txt
PSEC5_Ctrl_Board/cb_Components/ADM6_60_01_5_L_4_2_A_TR (1)/how-to-import.htm
PSEC5_Ctrl_Board/cb_Components/ADM6_60_01_5_L_4_2_A_TR (1)/ADM6-60-01.5-L-4-2-A-TR.step
PSEC5_Ctrl_Board/cb_Components/ADM6_60_01_5_L_4_2_A_TR (1)/ADM6-60-01.5-L-4-2-A-TR.kicad_sym
PSEC5_Ctrl_Board/cb_Components/ADM6-60-01.5-L-4-2-A-TR/how-to-import.htm
