C 0 0 "DAT2A" 0 0 0 0 60 0 L
X "PIN_TEXT" "DAT2A" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "DAT3A" 0 -100 0 0 60 0 L
X "PIN_TEXT" "DAT3A" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "DAT0A" 0 -200 0 0 60 0 L
X "PIN_TEXT" "DAT0A" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "DAT1A" 0 -300 0 0 60 0 L
X "PIN_TEXT" "DAT1A" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "CLKA" 0 -400 0 0 60 0 L
X "PIN_TEXT" "CLKA" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "CLK_FB" 0 -500 0 0 60 0 L
X "PIN_TEXT" "CLK_FB" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "GND" 0 -600 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "CLKB" 0 -700 0 0 60 0 L
X "PIN_TEXT" "CLKB" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 1300 0 "DAT1B" 1300 0 0 0 60 0 R
X "PIN_TEXT" "DAT1B" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "DAT0B" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "DAT0B" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "DAT3B" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "DAT3B" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "DAT2B" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "DAT2B" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
C 1300 -400 "CMDB" 1300 -400 0 0 60 0 R
X "PIN_TEXT" "CMDB" 1070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -400 1300 -400 -1 0
C 1300 -500 "VCCB" 1300 -500 0 0 60 0 R
X "PIN_TEXT" "VCCB" 1070 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -500 1300 -500 -1 0
C 1300 -600 "VCCA" 1300 -600 0 0 60 0 R
X "PIN_TEXT" "VCCA" 1070 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -600 1300 -600 -1 0
C 1300 -700 "CMDA" 1300 -700 0 0 60 0 R
X "PIN_TEXT" "CMDA" 1070 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -700 1300 -700 -1 0
L 200 100 1100 100 -1 0
L 1100 -800 1100 100 -1 0
L 1100 -800 200 -800 -1 0
L 200 100 200 -800 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

